In [1]:
import numpy as np
import pandas as pd
import pickle as pkl

In [9]:
path = "../../../Google Drive/Data_science/NYU/Machine Learning/ML Project (Collisions)/" #Joe
# path = "../../../../Google Drive/ML Project (Collisions)/" # Joyce
# path = "" # Lucas

In [101]:
df = pd.read_csv(path + "NYPD_Motor_Vehicle_Collisions.csv")

In [102]:
infered = pkl.load(open(path + 'infered.pkl','rb'))

In [103]:
infered.set_index(infered.index.astype(int),inplace=True)

In [104]:
joined = df.join(infered, on = 'UNIQUE KEY')

In [105]:
joined['LATITUDE'] = joined['LATITUDE'].fillna(joined['Infered_Lat'])
joined['LONGITUDE'] = joined['LONGITUDE'].fillna(joined['Infered_Long'])

In [106]:
def infered_fudge(x):
    if not(pd.isnull(x['LOCATION'])):
        return 'Original'
    elif pd.isnull(x['Infered_Lat']):
        return 'Unable_to_infer'
    else:
        return x['Lat/Long Infered']

In [107]:
joined['Lat/Long Infered'] = joined.apply(infered_fudge,axis=1)

In [108]:
joined.head(40)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,Infered_Lat,Infered_Long,Lat/Long Infered
0,03/07/2017,13:37,BROOKLYN,11205.0,40.6973,-73.9618,"(40.697254, -73.96183)",NaN,NaN,101 CLASSON AVENUE,...,NaN,3628188,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Original
1,03/07/2017,13:38,NaN,NaN,40.7954,-73.922,"(40.79537, -73.921974)",NaN,NaN,NaN,...,NaN,3628414,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,Original
2,03/07/2017,13:40,NaN,NaN,40.7586,-73.9813,"(40.758644, -73.981346)",WEST 48 STREET,NaN,NaN,...,NaN,3628292,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN,NaN,NaN,Original
3,03/07/2017,13:50,BROOKLYN,11234.0,40.6328,-73.9284,"(40.632847, -73.928375)",UTICA AVENUE,AVENUE H,NaN,...,NaN,3627838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Original
4,08/25/2015,19:00,NaN,NaN,40.7329,-73.9204,"(40.7329414, -73.9203819)",NaN,NaN,NaN,...,NaN,3284922,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN,NaN,NaN,Original
5,07/27/2012,22:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2833714,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Unable_to_infer
6,05/17/2014,0:45,NaN,NaN,40.6632220323,-73.8936504194,NaN,PENNSYLVANIA AVENUE,RIVERDALE AVENUE,NaN,...,NaN,336679,NaN,NaN,NaN,NaN,NaN,40.6632220323,-73.8936504194,On_Cross
7,03/07/2017,13:50,QUEENS,11355.0,40.7469,-73.8347,"(40.746902, -73.834694)",COLLEGE POINT BOULEVARD,57 ROAD,NaN,...,NaN,3627880,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,NaN,Original
8,03/07/2017,14:00,BRONX,10461.0,40.842,-73.8496,"(40.84203, -73.84956)",NaN,NaN,1719 SAINT PETERS AVENUE,...,NaN,3627532,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Original
9,03/07/2017,14:00,BROOKLYN,11230.0,40.6249,-73.9642,"(40.624878, -73.96418)",AVENUE J,EAST 12 STREET,NaN,...,NaN,3628782,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Original
10,09/08/2016,13:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3519654,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Unable_to_infer
11,09/08/2016,13:09,NaN,NaN,40.6809668103,-73.8968748593,NaN,CENTRAL AVENUE,NaN,NaN,...,NaN,3517886,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,40.6809668103,-73.8968748593,On
12,09/08/2016,13:09,NaN,NaN,40.8256650612,-73.9188022993,NaN,EAST 161 STREET,3 AVENUE,NaN,...,NaN,3515278,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.8256650612,-73.9188022993,On
13,09/08/2016,14:09,BRONX,10472.0,NaN,NaN,NaN,NaN,NaN,1274 BRONX RIVER AVENUE,...,NaN,3515947,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),NaN,NaN,NaN,NaN,NaN,Unable_to_infer
14,09/08/2016,14:09,BRONX,10473.0,40.8203001,-73.8546356,NaN,SEWARD AVENUE,PUGSLEY AVENUE,NaN,...,NaN,3515950,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.8203001,-73.8546356,On_Cross
15,09/08/2016,14:09,BRONX,10475.0,NaN,NaN,NaN,NaN,NaN,3441 STEENWICK AVENUE,...,NaN,3518498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unable_to_infer
16,09/08/2016,14:09,MANHATTAN,10011.0,40.74228464,-74.0044173788,NaN,WEST 16 STREET,9 AVENUE,NaN,...,NaN,3516815,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.74228464,-74.0044173788,On_Cross
17,09/08/2016,14:09,MANHATTAN,10016.0,40.7457,-73.9865,"(40.745715, -73.9865315)",NaN,NaN,277 5 AVENUE,...,NaN,3517274,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Original
18,09/08/2016,14:09,MANHATTAN,10019.0,40.7678879644,-73.9815093333,NaN,CENTRAL PARK SOUTH,COLUMBUS CIRCLE,NaN,...,NaN,3515827,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.7678879644,-73.9815093333,On_Cross
19,03/07/2017,14:18,BROOKLYN,11204.0,40.6277,-73.9816,"(40.62774, -73.981575)",18 AVENUE,50 STREET,NaN,...,NaN,3627978,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,NaN,Original
20,03/07/2017,14:18,BROOKLYN,11219.0,40.6375,-73.9992,"(40.637478, -73.99922)",NaN,NaN,1022 51 STREET,...,NaN,3628614,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,Original
21,03/07/2017,14:20,QUEENS,11416.0,40.6828,-73.8511,"(40.682808, -73.851135)",101 AVENUE,89 STREET,NaN,...,NaN,3627892,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,NaN,Original
22,03/07/2017,14:20,STATEN ISLAND,10301.0,40.6383,-74.0759,"(40.638283, -74.075874)",NaN,NaN,155 BAY STREET,...,NaN,3629112,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,NaN,Original
23,03/07/2017,14:20,NaN,NaN,40.6678,-73.8013,"(40.667778, -73.80127)",NaN,NaN,NaN,...,NaN,3627846,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,Original
24,03/07/2017,14:20,BROOKLYN,11233.0,40.6739,-73.9101,"(40.67392, -73.91012)",BERGEN STREET,EASTERN PARKWAY,NaN,...,NaN,3628976,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,NaN,Original
25,03/07/2017,14:22,QUEENS,11432.0,40.7177,-73.8113,"(40.717693, -73.81128)",NaN,NaN,150-66 GOETHALS AVENUE,...,NaN,3627692,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,Original
26,03/07/2017,14:23,QUEENS,11432.0,40.7106,-73.7815,"(40.71058, -73.78154)",NaN,NaN,90-37 180 STREET,...,NaN,3628887,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Original
27,03/07/2017,14:25,BROOKLYN,11215.0,40.6703,-73.9887,"(40.67034, -73.98873)",4 AVENUE,9 STREET,NaN,...,NaN,3627939,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Original
28,03/07/2017,14:25,NaN,NaN,40.7528,-73.8663,"(40.752777, -73.86627)",101 STREET,NaN,NaN,...,NaN,3627731,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Original
29,03/07/2017,14:30,BRONX,10458.0,40.8577946,-73.8826279,NaN,CAMBRELENG AVENUE,EAST FORDHAM ROAD,NaN,...,NaN,3628495,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,40.8577946,-73.8826279,On_Cross
30,09/08/2016,14:09,MANHATTAN,10025.0,40.8029281739,-73.9675761217,NaN,BROADWAY,WEST 108 STREET,NaN,...,NaN,3515873,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,40.8029281739,-73.9675761217,On_Cross
31,09/08/2016,14:09,MANHATTAN,10025.0,40.7909283879,-73.9689277697,NaN,WEST 93 STREET,COLUMBUS AVENUE,NaN,...,NaN,3515867,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN,40.7909283879,-73.9689277697,On_Cross
32,09/08/2016,14:09,MANHATTAN,10036.0,40.7608227906,-73.9983142682,NaN,WEST 42 STREET,11 AVENUE,NaN,...,NaN,3516811,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.7608227906,-73.9983142682,On_Cross
33,09/08/2016,14:09,MANHATTAN,10065.0,40.7617894,-73.9574405,NaN,YORK AVENUE,EAST 64 STREET,NaN,...,NaN,3515841,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.7617894,-73.9574405,On_Cross
34,09/08/2016,14:09,QUEENS,11354.0,NaN,NaN,NaN,NaN,NaN,138-02 NORTHERN BOULEVARD,...,NaN,3516374,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Unable_to_infer
35,09/08/2016,14:09,QUEENS,11413.0,40.6561360146,-73.7571349634,NaN,149 ROAD,183 STREET,NaN,...,NaN,3516286,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,40.6561360146,-73.7571349634,On
36,09/08/2016,14:09,STATEN ISLAND,10306.0,40.5643098133,-74.1101408667,NaN,MILL ROAD,EBBITTS STREET,NaN,...,NaN,3517155,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.5643098133,-74.1101408667,On_Cross
37,09/08/2016,14:09,NaN,NaN,40.7057027081,-74.0088676684,NaN,JOHN STREET,NaN,NaN,...,NaN,3515116,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.7057027081,-74.0088676684,On
38,09/08/2016,14:09,NaN,NaN,40.6651030065,-73.8924898009,NaN,PENNSYLVANIA AVENUE,NaN,NaN,...,NaN,3528319,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.6651030065,-73.8924898009,On
39,09/08/2016,14:09,NaN,NaN,40.5714882624,-74.1647020119,NaN,RICHMOND AVENUE,NaN,NaN,...,NaN,3515783,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,40.5714882624,-74.1647020119,On

In [109]:
def location_fudge(x):
    if not(pd.isnull(x['LOCATION'])):
        return x['LOCATION']
    elif not(pd.isnull(x['LATITUDE'])):
        return '({0}, {1})'.format(x['LATITUDE'],x['LONGITUDE'])
    else:
        return np.nan

In [110]:
joined['LOCATION'] = joined.apply(location_fudge,axis=1)

In [113]:
joined.drop(['Infered_Lat','Infered_Long'],axis=1, inplace=True)

In [115]:
joined.to_csv(path+"NYPD_Motor_Vehicle_Collisions_LATLONGCLEANED.csv")