In [1]:
import numpy as np
import pandas as pd
import urllib
import json
import time

## Update Local Path

In [2]:
#path = "../../../Google Drive/Data_science/NYU/Machine Learning/ML Project (Collisions)/" #Joe
path = "../../../../Google Drive/ML Project (Collisions)/" # Joyce
# path = "" # Lucas

In [3]:
df = pd.read_csv(path + "NYPD_Motor_Vehicle_Collisions.csv", parse_dates=[['DATE', 'TIME']], infer_datetime_format=True)

Add the day of the week, Monday = 0, Sunday = 6

In [4]:
df['DAY_OF_WEEK'] = df['DATE_TIME'].dt.dayofweek

In [5]:
df["DATE_TIME"].min(0), df["DATE_TIME"].max(0)

(Timestamp('2012-07-01 00:05:00'), Timestamp('2017-03-11 23:50:00'))

In [6]:
df.columns

Index([u'DATE_TIME', u'BOROUGH', u'ZIP CODE', u'LATITUDE', u'LONGITUDE',
       u'LOCATION', u'ON STREET NAME', u'CROSS STREET NAME',
       u'OFF STREET NAME', u'NUMBER OF PERSONS INJURED',
       u'NUMBER OF PERSONS KILLED', u'NUMBER OF PEDESTRIANS INJURED',
       u'NUMBER OF PEDESTRIANS KILLED', u'NUMBER OF CYCLIST INJURED',
       u'NUMBER OF CYCLIST KILLED', u'NUMBER OF MOTORIST INJURED',
       u'NUMBER OF MOTORIST KILLED', u'CONTRIBUTING FACTOR VEHICLE 1',
       u'CONTRIBUTING FACTOR VEHICLE 2', u'CONTRIBUTING FACTOR VEHICLE 3',
       u'CONTRIBUTING FACTOR VEHICLE 4', u'CONTRIBUTING FACTOR VEHICLE 5',
       u'UNIQUE KEY', u'VEHICLE TYPE CODE 1', u'VEHICLE TYPE CODE 2',
       u'VEHICLE TYPE CODE 3', u'VEHICLE TYPE CODE 4', u'VEHICLE TYPE CODE 5',
       u'DAY_OF_WEEK'],
      dtype='object')

In [7]:
missing_lat = df[df.LATITUDE.isnull()].ix[:,\
                            ['BOROUGH', 'ZIP CODE', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME']]\
                            .dropna(how='all')[df['ON STREET NAME'].notnull() & df['CROSS STREET NAME'].notnull()]

/anaconda/envs/doybee/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [8]:
missing_lat

,BOROUGH,ZIP CODE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME
6,NaN,NaN,PENNSYLVANIA AVENUE,RIVERDALE AVENUE,NaN
12,NaN,NaN,EAST 161 STREET,3 AVENUE,NaN
14,BRONX,10473.0,SEWARD AVENUE,PUGSLEY AVENUE,NaN
16,MANHATTAN,10011.0,WEST 16 STREET,9 AVENUE,NaN
18,MANHATTAN,10019.0,CENTRAL PARK SOUTH,COLUMBUS CIRCLE,NaN
29,BRONX,10458.0,CAMBRELENG AVENUE,EAST FORDHAM ROAD,NaN
30,MANHATTAN,10025.0,BROADWAY,WEST 108 STREET,NaN
31,MANHATTAN,10025.0,WEST 93 STREET,COLUMBUS AVENUE,NaN
32,MANHATTAN,10036.0,WEST 42 STREET,11 AVENUE,NaN
33,MANHATTAN,10065.0,YORK AVENUE,EAST 64 STREET,NaN
35,QUEENS,11413.0,149 ROAD,183 STREET,NaN
36,STATEN ISLAND,10306.0,MILL ROAD,EBBITTS STREET,NaN
44,MANHATTAN,10128.0,3 AVENUE,EAST 93 STREET,NaN
45,QUEENS,11373.0,POYER STREET,CORONA AVENUE,NaN
53,QUEENS,11357.0,150 STREET,10 AVENUE,NaN
54,BRONX,10462.0,BENEDICT AVENUE,OLMSTEAD AVENUE,NaN
57,BRONX,10472.0,VIRGINIA AVENUE,BRUCKNER BOULEVARD,NaN
58,BROOKLYN,11208.0,SUTTER AVENUE,SHERIDAN AVENUE,NaN
59,BROOKLYN,11212.0,LINDEN BOULEVARD,Rockaway Avenue,NaN
60,BROOKLYN,11221.0,BROADWAY,VERNON AVENUE,NaN
61,MANHATTAN,10012.0,KENMARE STREET,MOTT STREET,NaN
62,STATEN ISLAND,10312.0,AMBOY ROAD,RICHMOND AVENUE,NaN
72,BROOKLYN,11226.0,NEWKIRK AVENUE,OCEAN AVENUE,NaN
74,BRONX,10455.0,BRUCKNER BOULEVARD,EAST 144 STREET,NaN
76,MANHATTAN,10065.0,EAST 66 STREET,LEXINGTON AVENUE,NaN
77,QUEENS,11354.0,39 AVENUE,UNION STREET,NaN
83,QUEENS,11368.0,104 STREET,49 AVENUE,NaN
84,BROOKLYN,11208.0,HIGHLAND BOULEVARD,JAMAICA AVENUE,NaN
93,MANHATTAN,10001.0,WEST 28 STREET,8 AVENUE,NaN
95,MANHATTAN,10028.0,EAST 81 STREET,2 AVENUE,NaN
...,...,...,...,...,...
994407,NaN,NaN,AVON STREET,GRAND CENTRAL PARKWAY,NaN
994408,NaN,NaN,MARGRET CORBIN DRIVE,FT TRYON PLACE,NaN
994414,NaN,NaN,RICHMOND ROAD,CLOVE ROAD,NaN
994415,NaN,NaN,FULTON STREET,UTICA AVENUE,NaN
994416,NaN,NaN,EAST GUN HILL ROAD,PEARSALL AVENUE,NaN
994420,NaN,NaN,NAVY STREET,PARK AVENUE,NaN
994421,NaN,NaN,QUEENS BOULEVARD,70 ROAD,NaN
994426,NaN,NaN,WEST 225 STREET,BROADWAY,NaN
994428,NaN,NaN,COLUMBUS CIRCLE,BROADWAY,NaN
994430,NaN,NaN,GLENWOOD STREET,NORTHERN BOULEVARD,NaN
994436,NaN,NaN,30 AVENUE,BROOKLYN QUEENS EXPRESSWAY,NaN
994437,NaN,NaN,97 STREET TRANSVERSE,CPW,NaN
994438,NaN,NaN,WEST 14 STREET,10 AVENUE,NaN
994445,NaN,NaN,ELY AVENUE,EAST 222 STREET,NaN
994446,NaN,NaN,BROADWAY,WEST 225 STREET,NaN
994450,NaN,NaN,MYRTLE AVENUE,108 STREET,NaN
994455,NaN,NaN,NORTHERN BOULEVARD,CLEARVIEW EXPRESSWAY,NaN
994457,NaN,NaN,HANOVER SQUARE,PEARL STREET,NaN
994463,NaN,NaN,STEINWAY STREET,ASTORIA BOULEVARD,NaN
994464,NaN,NaN,EASTCHESTER ROAD,PELHAM PARKWAY,NaN
994466,NaN,NaN,EAST 149 STREET,EXTERIOR STREET,NaN
994471,NaN,NaN,ASTORIA BOULEVARD,31 STREET,NaN
994472,NaN,NaN,KERMIT AVENUE,PARKINSON AVENUE,NaN
994474,NaN,NaN,PARK AVENUE,HALL STREET,NaN
994479,NaN,NaN,EAST 135 STREET,3 AVENUE,NaN
994480,NaN,NaN,CASTLE HILL AVENUE,WESTCHESTER AVENUE,NaN
994485,NaN,NaN,BAY PARKWAY,SHORE PARKWAY,NaN
994490,NaN,NaN,MURDOCK AVENUE,EAST 242 STREET,NaN
994491,NaN,NaN,PELHAM PARKWAY SOUTH,HOLLAND AVENUE,NaN
994494,NaN,NaN,BEACH 54 STREET,ROCKAWAY BEACH BOULEVARD,NaN

In [58]:
for idx, row in missing_lat.iterrows():
    address = (row["ON STREET NAME"] + " AND " + row["CROSS STREET NAME"] + " NEW YORK").replace(" ","+")
    break

In [59]:
address

'PENNSYLVANIA AVENUE AND RIVERDALE AVENUE NEW YORK'

In [65]:
df[df["ON STREET NAME"] == "PENNSYLVANIA AVENUE"]["LONGITUDE"].mean()

-73.89248980093339

In [45]:
#This is Joyce's API key
api_key = "AIzaSyB3b65CVqTpdFUSvUoirf5bSuNmW3yVIIo"
url = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(address,api_key)
data = json.load(urllib.urlopen(url))

In [46]:
neighborhood = data[u'results'][0][u'address_components'][2][u'long_name']
zip_code = data[u'results'][0][u'address_components'][6][u'long_name']
latitude = data[u'results'][0][u'geometry'][u'location'][u'lat']
longitude = data[u'results'][0][u'geometry'][u'location'][u'lng']

In [48]:
neighborhood, zip_code, latitude, longitude

(u'Brooklyn', u'11207', 40.6632191, -73.8936447)